{% extends "sil11VitrineBundle::adminLayout.html.twig" %}
{% block title %}{{ parent() }} - Editer une commande {% endblock %}
{% block content %}
    <h3>Création d'un produit</h3>

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}})  }}
    <div class="form-group">

        {{ form_label(form.item, "Nom du produit: ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        <div class="col-sm-4">
            {{ form_widget(form.item, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">

        {{ form_label(form.reference, "Référence : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        <div class="col-sm-4">
            {{ form_widget(form.reference, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">

        {{ form_label(form.price, "Prix (TTC en €) : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        <div class="col-sm-4">
            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">

        {{ form_label(form.description, "Description : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        <div class="col-sm-4">
            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">

        {{ form_label(form.quantity, "Quantité : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        <div class="col-sm-4">
            {{ form_widget(form.quantity, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">

        {{ form_label(form.category, "Catégorie : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        <div class="col-sm-4">
            {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">

        {{ form_label(form.file, "Image : ", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        <div class="col-sm-4">
            {{ form_widget(form.file, {'attr': {'class': 'form-control'}}) }}
        </div>
    </div>
    <div class="form-group">
        <input class="btn btn-primary btn-sm" type="submit" value="créer un produit" />
    </div>
    {{ form_end(form) }}
{% endblock %}
