{% extends "sil11VitrineBundle::layout.html.twig" %}

{% block title %}{{ parent() }} - Votre panier{% endblock %}

{% block content %}
    <h3>Vos informations client</h3>

    <table class="table-article table table-bordered">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ customer.lastname }}</td>
            </tr>
            <tr>
                <th>Prénom</th>
                <td>{{ customer.firstname }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ customer.mail }}</td>
            </tr>
        </tbody>
    </table>
    <div style="margin-left: 60%" class="btn btn-primary">
        <a href="{{ path('customer_edit', { 'id': customer.id }) }}">Modifier vos informations</a>
    </div>
{% endblock %}
